.side-nav{
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 6666;
}
.side-nav .nav-item{
  position: relative;
  width: 68px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  background: #afd918;
  cursor: pointer;
}

.side-nav .nav-item:hover i{
  color: #3d8bca;
}
.side-nav .nav-item i{
  color: #838c95;
}

.side-nav .nav-item .nav-text{
  position: absolute;
  top: 0;
  left: -130px;
  width: 198px;
  height: 68px;
  line-height: 69px;
  color: #fff;
  font-weight: 900;
  background: #1c1a1c;
  transition: 0.5s;
  z-index: -1;
}

.side-nav .nav-item:hover .nav-text{
  left: 69px;
}

@media screen and (max-width: 600px) {
  .side-nav .nav-item {
    height: 38px;
    line-height: 38px;
    width: 38px;
  }
  .side-nav .nav-item .nav-text {
    font-weight: 900;
    height: 38px;
    left: -170px;
    line-height: 38px;
    top: 0;
    width: 208px;
  }
  .side-nav .nav-item:hover .nav-text {
    left: 30px;
  }
}